<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.upms.system.dao.UpmsSystemDao">

	<select id="get" resultType="com.ming.upms.system.domain.UpmsSystemDO">
		select `system_id`,`icon`,`banner`,`theme`,`basepath`,`status`,`name`,`title`,`description`,`ctime`,`orders` from upms_system where system_id = #{value}
	</select>

	<select id="list" resultType="com.ming.upms.system.domain.UpmsSystemDO">
		select `system_id`,`icon`,`banner`,`theme`,`basepath`,`status`,`name`,`title`,`description`,`ctime`,`orders` from upms_system
        <where>  
		  		  <if test="systemId != null and systemId != ''"> and system_id = #{systemId} </if>
		  		  <if test="icon != null and icon != ''"> and icon = #{icon} </if>
		  		  <if test="banner != null and banner != ''"> and banner = #{banner} </if>
		  		  <if test="theme != null and theme != ''"> and theme = #{theme} </if>
		  		  <if test="basepath != null and basepath != ''"> and basepath = #{basepath} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="ctime != null and ctime != ''"> and ctime = #{ctime} </if>
		  		  <if test="orders != null and orders != ''"> and orders = #{orders} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by name asc, system_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from upms_system
		 <where>  
		  		  <if test="systemId != null and systemId != ''"> and system_id = #{systemId} </if>
		  		  <if test="icon != null and icon != ''"> and icon = #{icon} </if>
		  		  <if test="banner != null and banner != ''"> and banner = #{banner} </if>
		  		  <if test="theme != null and theme != ''"> and theme = #{theme} </if>
		  		  <if test="basepath != null and basepath != ''"> and basepath = #{basepath} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="ctime != null and ctime != ''"> and ctime = #{ctime} </if>
		  		  <if test="orders != null and orders != ''"> and orders = #{orders} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ming.upms.system.domain.UpmsSystemDO">
		insert into upms_system
		(
			`system_id`, 
			`icon`, 
			`banner`, 
			`theme`, 
			`basepath`, 
			`status`, 
			`name`, 
			`title`, 
			`description`, 
			`ctime`,
			`orders`
		)
		values
		(
			#{systemId}, 
			#{icon}, 
			#{banner}, 
			#{theme}, 
			#{basepath}, 
			#{status}, 
			#{name}, 
			#{title}, 
			#{description},
		    now(),
			#{orders}
		)
	</insert>
	 
	<update id="update" parameterType="com.ming.upms.system.domain.UpmsSystemDO">
		update upms_system 
		<set>
			<if test="icon != null">`icon` = #{icon}, </if>
			<if test="banner != null">`banner` = #{banner}, </if>
			<if test="theme != null">`theme` = #{theme}, </if>
			<if test="basepath != null">`basepath` = #{basepath}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="title != null">`title` = #{title}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="ctime != null">`ctime` = #{ctime}, </if>
			<if test="orders != null">`orders` = #{orders}</if>
		</set>
		where system_id = #{systemId}
	</update>
	
	<delete id="remove">
		delete from upms_system where system_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from upms_system where system_id in 
		<foreach item="systemId" collection="array" open="(" separator="," close=")">
			#{systemId}
		</foreach>
	</delete>

</mapper>