<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <head th:include="include :: header"></head>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>了解ming</strong></div>
        <div class="panel-context">
            <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
            <ul>
                <li>提供整套公共微服务服务模块：集中权限管理（单点登录）、内容管理、人事办公。</li>
                <li>面向学习型的开源框架，简洁高效，减少过渡封装，展现技术本质</li>
                <li>Springboot作为基础框架，使用mybatis作为持久层框架</li>
                <li>使用官方推荐的thymeleaf做为模板引擎，shiro作为安全框架,主流技术，“一网打尽”</li>
                <li>极简配置，一键前后台代码生成</li>
            </ul>

            <h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
            <ul>
                <li>Github地址：<a href="https://github.com/jieming514/ming.git" target="_blank">https://github.com/jieming514/ming.git</a>
                </li>
                <li>Gitee地址：<a href="https://gitee.com/jie_ming514/ming.git" target="_blank">https://gitee.com/jie_ming514/ming.git</a>
                </li>
            </ul>
         </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title"><strong>联系方式</strong></div>
                <div class="ibox-content">
                    <p><strong>博 &nbsp; 客：</strong>
                        <a href="https://blog.csdn.net/m1090760001" target="_blank">jie_ming514的博客</a></p>
                    <p><strong>邮 &nbsp; 箱：</strong> jie_ming514@163.com</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title"><strong>更新日志</strong></div>
                <div class="ibox-content panel-group" id="version">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#v1_0_0" data-toggle="collapse" data-parent="#version">v1.0.0</a>
                                <code class="pull-right">2020.04.24</code>
                            </div>
                        </div>
                        <div id="v1_0_0" class="panel-body">
                            <ol>
                                <li>系统登录：系统用户登录，账号为admin/admin/admin123</li>
                                <li>用户管理：新建用户，修改用户，删除用户，查询用户</li>
                                <li>机构管理：新建机构，修改机构，删除机构，查询机构</li>
                                <li>角色管理：新建角色，修改角色，删除角色，查询角色</li>
                                <li>资源管理：新建资源，修改资源，删除资源，查询资源</li>
                                <li>字典管理：新建字典，修改字典，删除字典，查询字典</li>
                                <li>系统日志：记录用户登录和操作日志，查看系统执行日志记录</li>
                                <li>代码生成：提供代码生成器，最大化的降低代码开发量</li>
                                <li>主题切换：支持主题切换，自定主题颜色，一键换肤</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#v1_0_1" data-toggle="collapse" data-parent="#version">v1.0.1</a>
                                <code class="pull-right">2020.06.24</code>
                            </div>
                        </div>
                        <div id="v1_0_1" class="panel-body collapse">
                            <p>尚未开始</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title"><strong>捐赠</strong></div>
                <div class="ibox-content">
                    <div class="alert alert-warning">
                        项目的发展离不开大家的支持，请作者喝杯奶茶吧！
                    </div>
                    <p id="pay-qrcode">
                        <img width="100%" src="../static/img/contribution.png" th:src="@{/img/contribution.png}" title="请作者喝杯奶茶吧！">
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<div th:include="include :: footer"></div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/openTab.js" th:src="@{/js/openTab.js}"></script>
</html>