<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:upmsPermission:add" type="button" class="btn  btn-primary" onclick="add(0)" title="添加根目录">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button type="button" class="btn  btn-info" id="expandAllBtn" title="展开/折叠">
								<i class="fa fa-exchange" aria-hidden="true"></i>展开/折叠
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>

		<div>
			<script type="text/javascript">
				var s_add_h = 'hidden';
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:upmsPermission:add">
			<script type="text/javascript">
					s_add_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:upmsPermission:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:upmsPermission:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="../../../static/js/appjs/system/upmsPermission/upmsPermission.js"
			th:src="@{/js/appjs/system/upmsPermission/upmsPermission.js}"></script>
</body>
</html>