<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.system.dao.MenuDao">

    <insert id="save" parameterType="com.ming.system.domain.MenuDO"
            useGeneratedKeys="true" keyProperty="menuId">
		insert into sys_menu
		(
		`parent_id`,
		`name`,
		`url`,
		`perms`,
		`type`,
		`icon`,
		`order_num`,
		`gmt_create`,
		`gmt_modified`
		)
		values
		(
		#{parentId},
		#{name},
		#{url},
		#{perms},
		#{type},
		#{icon},
		#{orderNum},
		#{gmtCreate},
		#{gmtModified}
		)
    </insert>

    <delete id="remove">
		delete from sys_menu where menu_id = #{value}
	</delete>

    <update id="update" parameterType="com.ming.system.domain.MenuDO">
      update sys_menu sm
      <set>
          <if test="parentId != null and parentId != ''">sm.parent_id = #{parentId},</if>
          <if test="name != null and name != ''">sm.name = #{name},</if>
          <if test="url != null and url != ''">sm.url = #{url},</if>
          <if test="perms != null and perms != ''">sm.perms = #{perms},</if>
          <if test="type != null and type != ''">sm.type = #{type},</if>
          <if test="icon != null and icon != ''">sm.icon = #{icon},</if>
          <if test="orderNum != null and orderNum != ''">sm.order_num = #{orderNum},</if>
          <if test="gmtCreate != null and gmtCreate != ''">sm.gmt_create = #{gmtCreate},</if>
          <if test="gmtModified != null and gmtModified != ''">sm.gmt_modified = #{gmtModified}</if>
      </set>
        where sm.menu_id = #{menuId}
    </update>

    <select id="get" resultType="com.ming.system.domain.MenuDO">
       select sm.menu_id,
            sm.parent_id,
            sm.name,
            sm.url,
            sm.perms,
            sm.type,
            sm.icon,
            sm.order_num,
            sm.gmt_create,
            sm.gmt_modified
        from sys_menu sm
        where menu_id = #{menuId}
    </select>

    <select id="list" resultType="com.ming.system.domain.MenuDO">
    select sm.menu_id, sm.parent_id, sm.name,
           sm.url, sm.perms, sm.type, sm.icon,
           sm.order_num,sm.gmt_create,sm.gmt_modified
    from sys_menu sm
    <where>
        <if test="menuId != null and menuId != ''">and menu_id = #{menuId}</if>
        <if test="parentId != null and parentId != ''">and parent_id = #{parentId}</if>
        <if test="name != null and name != ''">and name = #{name}</if>
        <if test="url != null and url != ''">and url = #{url}</if>
        <if test="perms != null and perms != ''">and perms = #{perms}</if>
        <if test="type != null and type != ''">and type = #{type}</if>
        <if test="icon != null and icon != ''">and icon = #{icon}</if>
        <if test="orderNum != null and orderNum != ''">and order_num = #{orderNum}</if>
        <if test="gmtCreate != null and gmtCreate != ''">and gmt_create = #{gmtCreate}</if>
        <if test="gmtModified != null and gmtModified != ''">and gmt_modified = #{gmtModified}</if>
    </where>
    </select>

        <!--获取用户权限-->
    <select id="listUserPerms" resultType="string">
        select distinct m.perms
		from sys_menu m left join
		sys_role_menu rm on m.menu_id = rm.menu_id
		left join sys_user_role ur
		on rm.role_id = ur.role_id
		where ur.user_id= #{id}
    </select>

    <select id="getSysMenuList" resultType="com.ming.system.domain.MenuDO">
        select sm.menu_id,sm.parent_id,sm.name,
               sm.url,sm.perms,sm.type,sm.icon,
               sm.order_num, sm.gmt_modified,sm.gmt_create
        from sys_menu sm
        left join sys_role_menu srm
        on sm.menu_id = srm.menu_id
        left join sys_user_role sur
        on srm.role_id = sur.role_id
        where sur.user_id = #{id}
        and sm.type in (0,1)
        order by sm.parent_id, sm.menu_id
    </select>

</mapper>