<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.system.dao.RoleDao">

    <!--获取用户角色-->
    <select id="listUserRole" resultType="string">
      select distinct sr.role_sign
        from sys_role sr
        left join sys_user_role sur
          on sr.role_id = sur.role_id
       where sur.user_id = #{id}
    </select>


    <select id="list" resultType="com.ming.system.domain.RoleDO">
        select sr.role_id, sr.role_name, sr.role_sign,
        sr.remark, sr.user_id_create,
        sr.gmt_create,sr.gmt_modified
        from sys_role sr
        <where>
            <if test="roleId != null and roleId != ''">and sr.role_id = #{roleId}</if>
            <if test="roleName != null and roleName != ''">and sr.role_name = #{roleName}</if>
            <if test="roleSign != null and roleSign != ''">and sr.role_sign = #{roleSign}</if>
            <if test="remark != null and remark != ''">and sr.remark = #{remark}</if>
            <if test="userIdCreate != null and userIdCreate != ''">and sr.user_id_create = #{userIdCreate}</if>
            <if test="gmtCreate != null and gmtCreate != ''">and sr.gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null and gmtModified != ''">and sr.gmt_modified = #{gmtModified}</if>
        </where>
    </select>

    <select id="get" resultType="com.ming.system.domain.RoleDO">
        select sr.role_id, sr.role_name, sr.role_sign,
        sr.remark, sr.user_id_create,
        sr.gmt_create,sr.gmt_modified
        from sys_role sr
        where sr.role_id = #{value}
    </select>

    <select id="count" resultType="int">
        select count(1)
        from sys_role sr
        <where>
            <if test="roleId != null and roleId != ''">and sr.role_id = #{roleId}</if>
            <if test="roleName != null and roleName != ''">and sr.role_name = #{roleName}</if>
            <if test="roleSign != null and roleSign != ''">and sr.role_sign = #{roleSign}</if>
            <if test="remark != null and remark != ''">and sr.remark = #{remark}</if>
            <if test="userIdCreate != null and userIdCreate != ''">and sr.user_id_create = #{userIdCreate}</if>
            <if test="gmtCreate != null and gmtCreate != ''">and sr.gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null and gmtModified != ''">and sr.gmt_modified = #{gmtModified}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.ming.system.domain.RoleDO"
            useGeneratedKeys="true" keyProperty="roleId">
        insert into sys_role
		(
		`role_name`,
		`role_sign`,
		`remark`,
		`user_id_create`,
		`gmt_create`,
		`gmt_modified`
		)
		values
		(
		#{roleName},
		#{roleSign},
		#{remark},
		#{userIdCreate},
		#{gmtCreate},
		#{gmtModified}
		)
    </insert>

    <delete id="remove">
        delete from sys_role where role_id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from sys_role where role_id in
        <foreach item="roleId" collection="array" open="(" separator=","
                 close=")">
            #{roleId}
        </foreach>
    </delete>

    <update id="update" parameterType="com.ming.system.domain.RoleDO">
        update sys_role sr
        <set>
            <if test="roleName != null and roleName != ''">sr.role_name = #{roleName},</if>
            <if test="roleSign != null and roleSign != ''">sr.role_sign = #{roleSign},</if>
            <if test="remark != null and remark != ''">sr.remark = #{remark},</if>
            <if test="userIdCreate != null and userIdCreate != ''">sr.user_id_create = #{userIdCreate},</if>
            <if test="gmtModified != null and gmtModified != ''">sr.gmt_modified = #{gmtModified}</if>
        </set>
        where sr.role_id = #{roleId}
    </update>

</mapper>