<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <form id="userForm" class="form-horizontal m-t">
                    <input id="organizationId" name="organizationId" class="form-control" type="hidden">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="username">操作用户:</label>
                        <div class="col-sm-2">
                            <input id="username" name="username" class="form-control" type="text">
                        </div>
                        <label class="col-sm-1 control-label">操作日期:</label>
                        <div class="col-sm-3">
                            <div class="input-daterange input-group">
                                <input type="text" class="form-control" id="startTime" placeholder="yyyy-MM-dd"/>
                                <span class="input-group-addon">-</span>
                                <input type="text" class="form-control" id="endTime" placeholder="yyyy-MM-dd"/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" id="serachBtn" class="btn btn-success"
                                    onclick="javascript:reLoad()">
                                <i class="fa fa-search" aria-hidden="true"></i>查询
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="system:upmsLog:batchRemove" type="button"
                                class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <script type="text/javascript">
        var s_remove_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="system:upmsLog:remove">
    <script type="text/javascript">
        var s_remove_h = '';

    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="../../../static/js/appjs/system/upmsLog/upmsLog.js"
        th:src="@{/js/appjs/system/upmsLog/upmsLog.js}"></script>
</body>
</html>