<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="permissionId" name="permissionId" th:value="${upmsPermission.permissionId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">所属系统：</label>
								<div class="col-sm-8">
									<input id="systemId" name="systemId" th:value="${upmsPermission.systemId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属上级：</label>
								<div class="col-sm-8">
									<input id="pid" name="pid" th:value="${upmsPermission.pid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${upmsPermission.name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">类型(1:目录,2:菜单,3:按钮)：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${upmsPermission.type}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">权限值：</label>
								<div class="col-sm-8">
									<input id="permissionValue" name="permissionValue" th:value="${upmsPermission.permissionValue}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">路径：</label>
								<div class="col-sm-8">
									<input id="uri" name="uri" th:value="${upmsPermission.uri}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">图标：</label>
								<div class="col-sm-8">
									<input id="icon" name="icon" th:value="${upmsPermission.icon}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态(0:禁止,1:正常)：</label>
								<div class="col-sm-8">
									<input id="status" name="status" th:value="${upmsPermission.status}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="ctime" name="ctime" th:value="${upmsPermission.ctime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">排序：</label>
								<div class="col-sm-8">
									<input id="orders" name="orders" th:value="${upmsPermission.orders}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/upmsPermission/edit.js">
	</script>
</body>
</html>
