<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="dict_code" name="dictCode" th:value="${upmsDictData.dictCode}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">字典类型：</label>
                            <div class="col-sm-8">
                                <input id="dictType" name="dictType" th:value="${upmsDictData.dictType}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">字典标签：</label>
                            <div class="col-sm-8">
                                <input id="dictLabel" name="dictLabel" th:value="${upmsDictData.dictLabel}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">字典键值：</label>
                            <div class="col-sm-8">
                                <input id="dictValue" name="dictValue" th:value="${upmsDictData.dictValue}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input id="remark" name="remark" th:value="${upmsDictData.remark}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">样式属性：</label>
                            <div class="col-sm-8">
                                <input id="cssClass" name="cssClass" th:value="${upmsDictData.cssClass}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">表格回显样式：</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="listClass" name="listClass" onchange="changeLabel()">
                                    <option value="default" th:field="*{upmsDictData.listClass}">默认</option>
                                    <option value="primary" th:field="*{upmsDictData.listClass}">主要</option>
                                    <option value="success" th:field="*{upmsDictData.listClass}">成功</option>
                                    <option value="info" th:field="*{upmsDictData.listClass}">信息</option>
                                    <option value="warning" th:field="*{upmsDictData.listClass}">警告</option>
                                    <option value="danger" th:field="*{upmsDictData.listClass}">危险</option>
                                </select>
                            </div>
                            <div class="col-sm-2" style="padding-top: 8px;">
                                <span id="labelShow" class="label label-default">默认</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否默认：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="isDefault" name="isDefault">
                                    <option value="Y" th:field="*{upmsDictData.isDefault}">是</option>
                                    <option value="N" th:field="*{upmsDictData.isDefault}">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="status" name="status">
                                    <option value="0" th:field="*{upmsDictData.status}">正常</option>
                                    <option value="1" th:field="*{upmsDictData.status}">停用</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">字典排序：</label>
                            <div class="col-sm-8">
                                <input id="dictSort" name="dictSort" th:value="${upmsDictData.dictSort}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/system/upmsDictData/edit.js">
</script>
</body>
</html>
